body {
  height: 100%;
  font-family: 'Cormorant', Garamond, Georgia, 'Times New Roman', Times, serif;
  background-color: #F3F9F4;
  color: black;
  font-size: 18px;
  font-weight: initial;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:visited, a:focus, a:focus-visible, a:focus-within {
  color: inherit;
}

h1, h2 {
  font-size: 18px;
  font-family: inherit;
  text-align: center;
}

h3 {
  font-size: 16px;
  margin: 0;
  font-family: inherit;
  text-align: center;
}

.heading {
  font-family: inherit;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 0px;
  text-decoration: none;
  color: inherit;
}

.alarm-heading {
  font-family: inherit;
  text-transform: uppercase;
  margin: 10px;
  padding: 2px 5px;
  text-decoration: none;
  color: inherit;
}

.alarm h2 {
  margin: 20px 20px 5px 20px;
  font-family: 'Courier New', Courier, monospace;
}

#progress {
  background: #eee;
  position: relative;
  width: 100%;
}

#bar {
  background: #403125;
  height: 20px;
  width: 0%;
}

#perc {
  /* position: absolute; */
  font-family: 'Courier New', Courier, monospace;
  /* right: -30px;
  top: 1px; */
}

.cancel {
  font-family: inherit;
  border-radius: 0;
  background: inherit;
  text-transform: uppercase;
  margin: 10px 10px 10px 0;
  border: none;
  border-color: #F3F9F4;
  text-align: left;
  padding: 0;
  text-decoration: none;
  color: inherit;
  transition: border-color .5s;
}


.alarm {
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  margin: 10px;
  padding: 5px 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #F3F9F4;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.alarm-icon {
  position: absolute;
  top: 2px;
  left: 3px;
}

.alarm a {
  text-decoration: underline;
}
.close {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 3px;
  left: 5px;
}

#form {
  color: inherit;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 20px;
}

.time, .submit{
  width: 100%;
  color: inherit;
  font-size: inherit;
  background: #eee;
  border-radius: 5px;
  margin: 10px;
  padding: 2px;
  box-sizing: border-box;
}

input[type=time].time {
  border: none;
  text-decoration: underline;
  padding: 20px 10px;
  font-family: 'Courier New', Courier, monospace;
  background: inherit;
  text-align: center;
}

.submit {
  border: none;
  padding: 2px 2px;
  text-decoration: none;
  font-weight: inherit;
  transition: text-decoration 1s;
}
.submit:hover {
  text-decoration: underline;
  cursor: pointer;
}

.time:focus, .time:focus-visible, .time:focus-within {
  outline: none;
}

.button, .submit {
  font-family: inherit;
  border-radius: 0;
  background: inherit;
  text-transform: uppercase;
  margin: 10px;
  border: none;
  border-color: #F3F9F4;
  text-align: center;
  padding: 2px 5px;
  text-decoration: none;
  color: inherit;
  transition: border-color .5s;
}


@media screen and (min-width: 640px) {
  .button:hover, .cancel:hover {
    text-decoration: none;
    border-color: black;
    border-bottom: 1px solid;
    cursor: pointer;
    color: inherit;
  }
}

@media screen and (max-width: 640px) {

  .button, .submit, .cancel {
    text-decoration: underline;
    border-color: black;
    color: inherit;
  }

  .button:hover, .cancel:hover {
    text-decoration: underline;
    cursor: pointer;
    border: none;
  }

}

path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 5s ease-in-out forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
  