<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='uikit.min.css')}}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" type="text/css">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<script defer src="{{ url_for('static', filename='uikit.min.js')}}"></script>
		<script defer src="{{ url_for('static', filename='uikit-icons.min.js')}}"></script>

		<title>Coffee</title>
</head>

<body>
	<div class="uk-flex uk-flex-middle" uk-flex uk-height-viewport>
		<div class="uk-container">
			<div class="uk-flex uk-flex-center uk-flex-column uk-flex-middle box" uk-flex>
				<div class="buttons uk-flex uk-flex-middle uk-flex-column uk-flex-around uk-child-width-expand">
					<a href="/brew" class="button">BREW NOW</a>
					<div>
            <div class="alarm uk-flex uk-flex-column uk-flex-center" uk-flex>
              <h2>{{ time }}</h2>
							<h3>{{ day }}</h3>
              <div class="uk-flex uk-flex-around uk-flex-center" uk-flex>
								<a href="/delete">DELETE</a>
								<span class="alarm-icon" uk-icon="icon: bell"></span>
              </div>
            </div>
          </div>
					
				</div>
			</div>
		</div>
	</div>
</body>

</html>
