<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='uikit.min.css')}}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" type="text/css">
		<script defer src="{{ url_for('static', filename='uikit.min.js')}}"></script>
		<script defer src="{{ url_for('static', filename='uikit-icons.min.js')}}"></script>
		<script defer src="{{ url_for('static', filename='script.js')}}"></script>
		<title>Coffee</title>
</head>

<body>
	<div class="uk-flex uk-flex-middle" uk-flex uk-height-viewport>
		<div class="uk-container">
			<div class="uk-flex uk-flex-middle" uk-flex>
				<div class="uk-flex uk-flex-column uk-width-medium" uk-flex>
					<h2 href="" class="heading" style="margin-bottom: 10px;">BREWING...</h2>
					<div id="progress">
						<div id="bar"></div>
					</div>
					<div id="perc">&nbsp;</div>
					<a href="/delete" class="cancel uk-width-max-content">CANCEL</a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
